
<div class="text">
  <strong><%= comment.commenter %></strong>
  <span class="comment-ago">&nbsp; wrote <%= time_ago_in_words(comment.created_at) %> ago </span>
</div>
<div class="text">
  <%= comment.body.html_safe %>
</div>
<% if is_admin? then %>
<div class="right">
  <%= link_to 'delete', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, class: "button" %>
</div>
<% end %>
<div class="seperator"></div>
