
<div class="text">
  <strong>From:</strong>
  <%= comment.commenter %>
</div>
<div class="text">
  <%= comment.body.html_safe %>
</div>
<% if is_admin? then %>
<div class="right">
  <%= link_to 'delete', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' }, class: "button" %>
</div>
<% end %>
<div class="seperator"></div>
