// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: #FF6600;
$font: 'Open Sans', sans-serif; //NimbusSanL, sans-serif; //Tahoma, Geneva, sans-serif;
$font-extra: 'Chau Philomene One', sans-serif; //Stroke, sans-serif;
$font-text: 'Source Sans Pro', sans-serif;//'Trirong', serif;
$height-div: 140px;

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
}
body {
    margin: 0;
    padding: 0;
    font-family: $font-text;
}

div.title, div.text {
  padding: 10px;
}

#heading {
  padding: 8px 0 0 8px;
  color: $color;
  font-family: $font-extra;
  font-size: 30px;
  text-transform: uppercase;
  float: left;
}

#description {
  font-size: 50%;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.floating {
  float: left;
  width: 102px;
  height: $height-div;
  margin: 15px 5px;
  padding: 3px 0px 8px 3px;
  border:2px solid rgba(256,256,256,0);
  border-radius: 4px 40px 16px 16px;
  color: rgba(256,100,0,0.2);
  font-family: $font-extra;
}

div.selected {
  border: 2px solid $color;
  color: $color;//black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.computer {
  border: 2px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

div.input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: $color;//black;
}

div.cardhead {
  padding-bottom: 10px;
}

img.input {
  opacity: 0.2;
  filter: alpha(opacity=20);
  transition: opacity 0.5s;
}

img.input:hover, img.selected {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.center {
  line-height: $height-div;
  color: $color;
  text-align: center;
}

#result {
  font-size: 150%;
  text-align: left;
}

.seperator {
  clear: both;
  border-bottom: 1px dashed $color;
}

.right {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  text-align: right;
  padding-right: 10px;
}

.button {
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font;
  font-size: 12px;
  font-stretch: normal;
  display: inline-block;
  border: 2px solid $color;
  border-radius: 4px;
  &:link, &:visited {
    background-color: #FFFFFF;
    color: $color;
  }
  &:hover, &:active {
    background-color: $color;
    color: white;
  }
}

a.no_decoration {
  &:link, &:visited, &:hover, &:active{
    color: $color;
    text-decoration: none;
  }
}
